In [1]:
# Includes the necessary imports
import pandas as pd
import seaborn as sns
import numpy as np

In [2]:
# Try reading in the data

# Helpful function to read in the data
def readDataByYear(year):
    yearPath = '/Users/zacharyzhu/Desktop/Employment Data/' + str(year) + ' Employment By County.xlsx'
    df = pd.read_excel(yearPath)
    df = df.rename(columns = {"Labor Force Data by County, " + str(year) +  " Annual Averages":"LAUS Code", 
                        "Unnamed: 1": "State FIPS Code", "Unnamed: 2": "County FIPS Code", "Unnamed: 3":
                        "County", "Unnamed: 4": "Year", "Unnamed: 6": "Labor Force",
                        "Unnamed: 7": "Employed", "Unnamed: 8": "Unemployed", "Unnamed: 9": "Unemployment Rate (%)"})
    # Drop blank columns/nonsense rows
    df = df.drop(columns = {'Unnamed: 5'})
    numRows = len(df)
    df = df.drop([0, 1, 2, 3, 4, numRows - 3, numRows - 2, numRows - 1]) # First 5 and last 3 rows are nonsense
    # Split up State/County
    df['State'] = df['County'].str[-2:]
    df['County'] = df['County'].str[:-4]
    # Converting data types into integers
    df['State FIPS Code'] = df['State FIPS Code'].astype(int)
    df['County FIPS Code'] = df['County FIPS Code'].astype(int)
    df['Year'] = df['Year'].astype(int)
    df['Labor Force'] = df['Labor Force'].astype(int)
    df['Employed'] = df['Employed'].astype(int)
    df['Unemployed'] = df['Unemployed'].astype(int)
    df['Unemployment Rate (%)'].astype(int)
    # Accounting for DC
    #df = df['County'].replace({'District of Colu': 'District of Columbia'})
    #df = df['State'].replace({'ia': 'N/A'})

    # Putting data in desired order
    df = df[['LAUS Code', 'State FIPS Code', 'County FIPS Code', 'County', 'State', 'Year', 'Labor Force',
            'Employed', 'Unemployed', 'Unemployment Rate (%)']]
    df['County'].replace({'District of Colu': 'District of Columbia'}, inplace = True)
    df['State'].replace({'ia': 'N/A'}, inplace = True)
    return df

In [3]:
# Different functions to parse the data

# Let's say we just wanted to keep California counties
df = readDataByYear(2019)
CACounties = df.loc[df['State'] == 'CA']
#print(CACounties)

# Get a specific row's values
print(df.iloc[0])

# Get a specific column's row's value
print(df['County'].iloc[0])

# Let's say we wanted all counties where the County FIPS Code was divisble by 7 or 9
divBySevNine = df.loc[(df['County FIPS Code'] % 7 == 0) | (df['County FIPS Code'] % 9 == 0)]
#print(divBySevNine)

LAUS Code                CN0100100000000
State FIPS Code                        1
County FIPS Code                       1
County                    Autauga County
State                                 AL
Year                                2019
Labor Force                        26172
Employed                           25458
Unemployed                           714
Unemployment Rate (%)                2.7
Name: 5, dtype: object
Autauga County

In [4]:
# Built-in functions

# Getting mean values of grouping by state
df.count() # Number of non-NaN values in each column
df.sum() # Sum of each column
df.mean() # Mean value of each column
df.describe() # Summary of stats for each column--count, mean, STD, min, median, max

,State FIPS Code,County FIPS Code,Year,Labor Force,Employed,Unemployed
count,3219.000000,3219.000000,3219.0,3.219000e+03,3.219000e+03,3219.000000
mean,31.295744,102.952470,2019.0,5.100236e+04,4.911543e+04,1886.927307
std,16.277202,106.696455,0.0,1.676907e+05,1.613724e+05,6471.804399
min,1.000000,1.000000,2019.0,2.230000e+02,2.120000e+02,4.000000
25%,19.000000,35.000000,2019.0,4.939500e+03,4.698000e+03,200.000000
50%,30.000000,79.000000,2019.0,1.144200e+04,1.099900e+04,479.000000
75%,46.000000,133.000000,2019.0,3.129050e+04,3.002700e+04,1231.000000
max,72.000000,840.000000,2019.0,5.121584e+06,4.894296e+06,227288.000000

In [5]:
stateGrouping = df.groupby(['State']) # Creating a grouping by state
stateGrouping.get_group('WI') # Gives us a sub-table based off of the grouping for WI (the state)
stateGrouping.size() # How many counties exist for each state? N/A represents Washington DC
stateGrouping.mean()

,State FIPS Code,County FIPS Code,Year,Labor Force,Employed,Unemployed
State,,,,,,
AK,2.0,149.655172,2019.0,11992.344828,11256.137931,736.206897
AL,1.0,67.000000,2019.0,33458.985075,32455.029851,1003.955224
AR,5.0,75.000000,2019.0,18168.653333,17523.906667,644.746667
AZ,4.0,13.866667,2019.0,236750.600000,225633.600000,11117.000000
CA,6.0,58.000000,2019.0,334682.379310,321161.706897,13520.672414
CO,8.0,62.234375,2019.0,49199.468750,47845.281250,1354.187500
CT,9.0,8.000000,2019.0,239191.375000,230270.875000,8920.500000
DE,10.0,3.000000,2019.0,162421.666667,156281.666667,6140.000000
FL,12.0,67.910448,2019.0,154280.029851,149493.567164,4786.462687
GA,13.0,161.490566,2019.0,32140.427673,31039.729560,1100.698113
HI,15.0,5.000000,2019.0,166248.000000,161743.250000,4504.750000
IA,19.0,99.000000,2019.0,17563.969697,17081.040404,482.929293
ID,16.0,44.000000,2019.0,20043.113636,19460.181818,582.931818
IL,17.0,102.000000,2019.0,63202.107843,60693.705882,2508.401961
IN,18.0,92.000000,2019.0,36819.250000,35598.467391,1220.782609
KS,20.0,105.000000,2019.0,14158.276190,13710.133333,448.142857
KY,21.0,120.000000,2019.0,17271.641667,16529.858333,741.783333
LA,22.0,64.000000,2019.0,32741.500000,31160.734375,1580.765625
MA,25.0,14.000000,2019.0,272674.071429,264754.071429,7920.000000
MD,24.0,44.958333,2019.0,135861.166667,130998.708333,4862.458333
ME,23.0,16.000000,2019.0,43296.000000,41984.875000,1311.125000
MI,26.0,83.000000,2019.0,59485.204819,57058.144578,2427.060241
MN,27.0,87.000000,2019.0,35743.229885,34588.103448,1155.126437
MO,29.0,117.713043,2019.0,26810.930435,25927.773913,883.156522
MS,28.0,82.000000,2019.0,15562.426829,14718.207317,844.219512
MT,30.0,56.000000,2019.0,9526.839286,9195.000000,331.839286
N/A,11.0,1.000000,2019.0,409969.000000,387482.000000,22487.000000
NC,37.0,100.000000,2019.0,50804.430000,48838.780000,1965.650000
ND,38.0,53.000000,2019.0,7615.132075,7434.396226,180.735849
NE,31.0,93.000000,2019.0,11131.612903,10792.279570,339.333333
NH,33.0,10.000000,2019.0,77373.400000,75405.400000,1968.000000
NJ,34.0,21.000000,2019.0,213958.428571,206349.238095,7609.190476
NM,35.0,30.151515,2019.0,28927.424242,27520.333333,1407.090909
NV,32.0,45.529412,2019.0,90732.647059,87204.529412,3528.117647
NY,36.0,62.000000,2019.0,153457.838710,147379.903226,6077.935484
OH,39.0,88.000000,2019.0,65935.477273,63222.431818,2713.045455
OK,40.0,77.000000,2019.0,23911.766234,23124.038961,787.727273
OR,41.0,36.000000,2019.0,58446.472222,56258.361111,2188.111111
PA,42.0,67.000000,2019.0,96890.268657,92651.194030,4239.074627
PR,72.0,76.705128,2019.0,13801.756410,12658.025641,1143.730769
RI,44.0,5.000000,2019.0,111110.800000,107153.600000,3957.200000
SC,45.0,46.000000,2019.0,51653.739130,50181.847826,1471.891304
SD,46.0,67.954545,2019.0,7030.348485,6798.772727,231.575758
TN,47.0,95.000000,2019.0,35209.031579,34015.821053,1193.210526
TX,48.0,254.000000,2019.0,55296.590551,53353.566929,1943.023622
UT,49.0,29.000000,2019.0,55437.724138,53992.551724,1445.172414
VA,51.0,263.992481,2019.0,33174.872180,32249.165414,925.706767
VT,50.0,14.000000,2019.0,24444.785714,23862.142857,582.642857
WA,53.0,39.000000,2019.0,100363.025641,96095.205128,4267.820513
WI,55.0,71.097222,2019.0,43127.152778,41683.611111,1443.541667
WV,54.0,55.000000,2019.0,14490.381818,13779.145455,711.236364
WY,56.0,23.000000,2019.0,12706.956522,12249.217391,457.739130

In [10]:
# Method to generate State aggregated results for a given year

def stateAggregation(year):
    df = readDataByYear(year)
    stateGrouping = df.groupby(['State']) # Creating a grouping by state
    sleuTable = stateGrouping.sum() # Gives STATE, LABOR FORCE, EMPLOYED, UNEMPLOYED
    SFCYearTable = stateGrouping.mean() # Gives state, state FIPS code, and year
    employed = list(sleuTable['Employed']) # Creating total # employed per state column
    unemployed = list(sleuTable['Unemployed']) # Creating total # unemployed per state column
    laborForce = list(sleuTable['Labor Force']) # Creating total # for labor force per state column
    stateFIPSCode = list(SFCYearTable['State FIPS Code']) # State FIPS Code column
    yearColumn = list(SFCYearTable['Year']) # Year--2019
    stateNames = list(stateGrouping.groups.keys()) # Get a list of all state names by using groupby KEYS

    # Get the total unemployment/employment rate
    unemploymentRate = []
    for i in range(len(employed)):
        unemploymentRate.append(unemployed[i]/laborForce[i] * 100)

    # Creating a new table with STATE, FIPS CODE, YEAR, EMPLOYED/UNEMPLOYED/UNEMPLOYMENT RATE

    # One way to create a dataframe

    # df['COL NAME'] = 0 --> Adds/replaces a column in the table with a default value of 0
    stateAggregates = {'State': stateNames, 'State FIPS Code': stateFIPSCode, 'Year': yearColumn,
                       'Total Employed': employed, 'Total Unemployed': unemployed, 
                       'Total Labor Force': laborForce, 'Unemployment Rate (%)': unemploymentRate}
    stateDF = pd.DataFrame(stateAggregates)
    stateDF['Year'] = stateDF['Year'].astype(int) # Making more readable form
    stateDF['State FIPS Code'] = stateDF['State FIPS Code'].astype(int) # Again, State FIPS code was an integer
    return stateDF

stateDF = stateAggregation(2019)
stateDF

,State,State FIPS Code,Year,Total Employed,Total Unemployed,Total Labor Force,Unemployment Rate (%)
0,AK,2,2019,326428,21350,347778,6.138974
1,AL,1,2019,2174487,67265,2241752,3.000555
2,AR,5,2019,1314293,48356,1362649,3.548676
3,AZ,4,2019,3384504,166755,3551259,4.695659
4,CA,6,2019,18627379,784199,19411578,4.039852
5,CO,8,2019,3062098,86668,3148766,2.752443
6,CT,9,2019,1842167,71364,1913531,3.729440
7,DE,10,2019,468845,18420,487265,3.780284
8,FL,12,2019,10016069,320693,10336762,3.102451
9,GA,13,2019,4935317,175011,5110328,3.424653
10,HI,15,2019,646973,18019,664992,2.709657
11,IA,19,2019,1691023,47810,1738833,2.749545
12,ID,16,2019,856248,25649,881897,2.908390
13,IL,17,2019,6190758,255857,6446615,3.968858
14,IN,18,2019,3275059,112312,3387371,3.315610
15,KS,20,2019,1439564,47055,1486619,3.165236
16,KY,21,2019,1983583,89014,2072597,4.294805
17,LA,22,2019,1994287,101169,2095456,4.828018
18,MA,25,2019,3706557,110880,3817437,2.904567
19,MD,24,2019,3143969,116699,3260668,3.578991
20,ME,23,2019,671758,20978,692736,3.028282
21,MI,26,2019,4735826,201446,4937272,4.080107
22,MN,27,2019,3009165,100496,3109661,3.231735
23,MO,29,2019,2981694,101563,3083257,3.294017
24,MS,28,2019,1206893,69226,1276119,5.424729
25,MT,30,2019,514920,18583,533503,3.483204
26,N/A,11,2019,387482,22487,409969,5.485049
27,NC,37,2019,4883878,196565,5080443,3.869052
28,ND,38,2019,394023,9579,403602,2.373378
29,NE,31,2019,1003682,31558,1035240,3.048375
30,NH,33,2019,754054,19680,773734,2.543510
31,NJ,34,2019,4333334,159793,4493127,3.556387
32,NM,35,2019,908171,46434,954605,4.864211
33,NV,32,2019,1482477,59978,1542455,3.888476
34,NY,36,2019,9137554,376832,9514386,3.960655
35,OH,39,2019,5563574,238748,5802322,4.114698
36,OK,40,2019,1780551,60655,1841206,3.294308
37,OR,41,2019,2025301,78772,2104073,3.743786
38,PA,42,2019,6207630,284018,6491648,4.375129
39,PR,72,2019,987326,89211,1076537,8.286849
40,RI,44,2019,535768,19786,555554,3.561490
41,SC,45,2019,2308365,67707,2376072,2.849535
42,SD,46,2019,448719,15284,464003,3.293944
43,TN,47,2019,3231503,113355,3344858,3.388933
44,TX,48,2019,13551806,493528,14045334,3.513822
45,UT,49,2019,1565784,41910,1607694,2.606839
46,VA,51,2019,4289139,123119,4412258,2.790385
47,VT,50,2019,334070,8157,342227,2.383506
48,WA,53,2019,3747713,166445,3914158,4.252383
49,WI,55,2019,3001220,103935,3105155,3.347176
50,WV,54,2019,757853,39118,796971,4.908334
51,WY,56,2019,281732,10528,292260,3.602272

In [7]:
# Check to make sure no issues arise for any year
def everyYearAggregates():
    for i in range(1990, 2020):
        stateDF = stateAggregation(i)
        sortedStates = stateDF.sort_values(by = 'Unemployment Rate (%)', ascending = True)

#everyYearAggregates()

In [8]:
# Tasks to work around with going forward
#everyYearAggregates()

'''
1. What is the general trend for each state/the country as a whole in terms of employment/unemployment?
    - Give good economic explanations for each year
2. Which states have been performing better? Which worse?
    - Again, is there a general trend there? Rural vs. urban, manufacturing vs. service, etc.
3. How does the size of the labor force in a county relate to the unemployment rate, if at all?
'''

'\n1. What is the general trend for each state/the country as a whole in terms of employment/unemployment?\n    - Give good economic explanations for each year\n2. Which states have been performing better? Which worse?\n    - Again, is there a general trend there? Rural vs. urban, manufacturing vs. service, etc.\n3. How does the size of the labor force in a county relate to the unemployment rate, if at all?\n'

In [9]:
'''
IMPORTANT NOTE

I manually deleted some of the "data" from 2005/2006 because select LA counties had no data at all.
To reference the original data (which includes the counties that had no data for those select years,
please reference 2005 Employment By County-ORIGINAL.xlsx & 2006 Employment By County-ORIGINAL.xlsx)

'''

'\nIMPORTANT NOTE\n\nI manually deleted some of the "data" from 2005/2006 because select LA counties had no data at all.\nTo reference the original data (which includes the counties that had no data for those select years,\nplease reference 2005 Employment By County-ORIGINAL.xlsx & 2006 Employment By County-ORIGINAL.xlsx)\n\n'

In [36]:
# Generate a dictionary of the unemployment rate for each state across 1990-2019
listStates = list(readDataByYear(2019).groupby(['State']).groups.keys())
stateUnemployment = {}
for state in listStates:
    stateUnemployment[state] = []
    

for i in range(1990, 2020):
    stateDF = stateAggregation(i)
    for j in range(len(listStates)):
        stateName = listStates[j]
        stateUnemployment[stateName].append(stateDF['Unemployment Rate (%)'].iloc[j])
        
for state in stateUnemployment:
    print('STATE: ' + state + '\nState Unemployment: ' + str(stateUnemployment[state]))

STATE: AK
State Unemployment: [7.221092160851198, 8.453864975604105, 8.910939349627462, 7.692359766582271, 7.573402475080529, 7.322437787882076, 7.592881330763743, 7.141990562483638, 6.347130985358132, 6.475689038601258, 6.374075546221906, 6.429762660394031, 7.29838450249846, 7.823368196989203, 7.453183743043636, 6.893059054341139, 6.620855709783871, 6.330640333422656, 6.689768077930758, 7.746077469116066, 7.873759018101135, 7.583981022967019, 7.125953770350976, 6.979036064101791, 6.864011560440522, 6.51137439714594, 6.8585611781224785, 6.9162452442116455, 6.454265509008524, 6.138973713115838]
STATE: AL
State Unemployment: [6.775423237856766, 7.345290237659355, 7.580381995409868, 7.343262280397524, 6.209025038301274, 5.976834253227045, 5.230463524739644, 4.992039190523707, 4.3949968612180905, 4.738192131046437, 4.5768090030484245, 5.130031776406042, 5.899116070313646, 6.013287187570452, 5.690292787658855, 4.484685026399824, 4.039924107845096, 3.9751077167181315, 5.651849697517702, 11.014963918219253, 10.54127564316526, 9.63638707896591, 7.951458019255236, 7.219897277192428, 6.782291026485899, 6.082849445775061, 5.83308820901636, 4.412377319009672, 3.869890545360381, 3.0005549231137074]
STATE: AR
State Unemployment: [6.891546125056987, 7.435839775620709, 7.10467235322242, 6.145644090530927, 5.361174694914016, 4.836642039730309, 5.255625736276919, 5.237702055196901, 5.174341607081288, 4.598889917628254, 4.260462809759726, 4.960900290555278, 5.474329369278641, 5.929279251650932, 5.7061888374060326, 5.235960749611976, 5.163535642120635, 5.310493255989057, 5.471171695886532, 7.8378374400621675, 8.190243116669697, 8.305166090112674, 7.568997450786324, 7.237352967639839, 6.020735015195398, 5.026938072851846, 3.9649639090638304, 3.6974209737049195, 3.6439490671774135, 3.548676144773893]
STATE: AZ
State Unemployment: [5.279909259170098, 5.9466607719722795, 7.5404327270514715, 6.4019669311748535, 6.14729712260851, 5.348846077065768, 5.567988181371832, 4.576778581691586, 4.30251044710466, 4.445179489336097, 3.956477669884345, 4.788063821252838, 6.098852662999707, 5.743638251594206, 5.036777538093576, 4.677193073728204, 4.215328631911727, 3.8529473321654644, 6.150317695074567, 9.92717330043595, 10.365128591522947, 9.501003616707978, 8.33737773525378, 7.74835785885723, 6.790671266837318, 6.0627409853807075, 5.354178157430025, 4.856569030905029, 4.735053672960165, 4.695658638246323]
STATE: CA
State Unemployment: [5.775176157633255, 7.711518005829508, 9.30452139823587, 9.463045747299018, 8.598206237053494, 7.856418639936015, 7.276163194061709, 6.367454012058089, 5.946879102192199, 5.246658230491303, 4.948069432364401, 5.434022431121115, 6.654738823166186, 6.7994476555341175, 6.2106418509827925, 5.404530615108782, 4.897929728779335, 5.373560407956368, 7.281510056730274, 11.158678376412238, 12.239847083511963, 11.713044978446774, 10.37111939690979, 8.94815033557047, 7.500910379880217, 6.203863481873243, 5.4733626630991346, 4.793738585234776, 4.253424530713611, 4.0398518863329915]
STATE: CO
State Unemployment: [5.208628051771033, 5.250826371894383, 5.9903883255223125, 5.306052912431071, 4.24264413860056, 4.0159304503980495, 4.242511154488389, 3.461323742019389, 3.6225344849813075, 3.075051422906591, 2.759378296490341, 3.803218162366889, 5.538602348998096, 5.953828926664929, 5.4812312107753645, 5.0244645395810705, 4.290787363199334, 3.7326029897751405, 4.8362160737502515, 7.291362543146521, 8.736354893885672, 8.36297423617111, 7.880401273746745, 6.851790283178421, 5.000048170708427, 3.9039514185632287, 3.2755597161382157, 2.8049665765284324, 3.1540907063602477, 2.752443338120394]
STATE: CT
State Unemployment: [5.126532612948464, 6.542060135723061, 7.551698630196945, 6.634720335018822, 5.606951424071714, 5.478908554912495, 5.49885573276164, 5.000159767743349, 3.4357134657329813, 2.8740440655979884, 2.3930222789829996, 3.1284822235771506, 4.3416259382656825, 5.399163125512118, 4.959133717092934, 4.87457004227651, 4.345374775039825, 4.473871350070036, 5.675078954893396, 7.937771173691294, 9.115503920573726, 8.816022770299382, 8.348963134861345, 7.8125838547983735, 6.6155636135524105, 5.721610845126194, 5.143713476954305, 4.706525256080968, 4.1446502727726635, 3.729440495084741]
STATE: DE
State Unemployment: [4.72594829883628, 6.195778985607413, 5.422387332056879, 5.062172618573771, 4.808134564362688, 4.312183642315278, 5.121942421947059, 3.9871309633459493, 3.706883234950758, 3.408378512570778, 3.742182625477023, 3.4977453021200327, 4.022236991431992, 4.26075667030381, 3.9925496511514504, 4.149774865925547, 3.5778722709799085, 3.4404709033236918, 4.94985940949752, 8.271561763569746, 8.41353624035781, 7.502249930641236, 7.207605521903355, 6.687853490179071, 5.719315239049331, 4.861994294160107, 4.51963751345761, 4.481272216868128, 3.7843391624721083, 3.7802838291278875]
STATE: FL
State Unemployment: [6.115858814531407, 7.53493334802922, 8.233944654386969, 7.127991136299523, 6.442089421063336, 5.529550847553845, 5.158495162760158, 4.781070340873928, 4.3184493250191816, 3.8878885185167773, 3.7026930331200476, 4.657037372886845, 5.645017778244437, 5.207205232197011, 4.626837732200848, 3.692246443002149, 3.229726075158724, 4.011724629125226, 6.275969062234382, 10.409241204235549, 11.055139844820944, 9.98763621373319, 8.465628427408246, 7.231657864517707, 6.28235761395587, 5.455398036372725, 4.793596938996638, 4.214365330651943, 3.586587993305379, 3.102451231826756]
STATE: GA
State Unemployment: [5.461462356410131, 5.1931596484656675, 6.914776429131352, 6.018793971610525, 5.228261879706821, 4.8375973134535855, 4.651474076984432, 4.577168820642822, 4.270917786336501, 3.9271990985958896, 3.5690627074571726, 4.0471293445560805, 5.01022480711508, 4.822533129257923, 4.778669501173008, 5.346165980620644, 4.705244517581567, 4.5305462972980095, 6.235579262256679, 9.939878001530985, 10.531476196437833, 10.222830192135946, 9.175982983626357, 8.195331569024502, 7.080093260909613, 5.995366161910052, 5.370007961537147, 4.685689498422357, 3.9454249706524487, 3.4246529772648646]
STATE: HI
State Unemployment: [2.6693433916234968, 2.869369424534062, 4.333232920041352, 4.483257276553366, 5.518987860892388, 5.877769271297791, 6.284597522829957, 6.219111612536068, 6.088270446472058, 5.392548755527396, 4.246899073847921, 4.494047131650918, 4.215327677617544, 4.11192391614328, 3.397537783612396, 2.864193277217094, 2.614600273868725, 2.7976409589674107, 4.310049695868787, 7.150331412035314, 6.947392815758981, 6.805562707685224, 6.008173860642629, 4.890746319968936, 4.3533403659991645, 3.5627095351380875, 2.951749211822804, 2.43419128400117, 2.507312810563031, 2.7096566575236998]
STATE: IA
State Unemployment: [4.414168486874869, 4.653515496009965, 4.46372819828973, 4.034326784059909, 3.516217150629348, 3.4437391544333082, 3.521901758557142, 3.1187692614820266, 2.746011625670212, 2.5886703858262687, 2.629434577253316, 3.330756301895823, 3.9902437237471915, 4.500065036137065, 4.496889741265429, 4.270536001354791, 3.6835450063586372, 3.6939174167628126, 4.204241757299452, 6.4102708459142, 6.008213141264361, 5.546555757608205, 5.036639232106541, 4.73693767306732, 4.2388501115517805, 3.7595658664562346, 3.6166787982080826, 3.122257375641789, 2.616789821196772, 2.7495452409748378]
STATE: ID
State Unemployment: [5.530219657498366, 6.215470972490931, 6.355165525382818, 5.981357323972893, 5.4158867601248755, 5.408284890495882, 5.294764250208335, 5.142317924894512, 5.105321507760532, 4.909760708093972, 4.69618116071618, 5.073753364499221, 5.556326496627904, 5.604966862943162, 4.9244379964868115, 4.015739314527978, 3.48323942738557, 3.07527742578562, 5.098589684168708, 8.771413099467727, 8.965521772265, 8.326548428537636, 7.2211519212119795, 6.123465630910776, 4.831246754745284, 4.104745246574136, 3.7780895600800815, 3.2092076751411716, 2.907452190884158, 2.908389528482351]
STATE: IL
State Unemployment: [6.140107647318073, 7.2501075820895915, 7.886329043576355, 7.439441323909646, 5.7804887591421545, 5.161456880749398, 5.288008536692525, 4.782181429667865, 4.419753883918478, 4.3513753321930535, 4.3439245163189, 5.33064000384024, 6.541670276016852, 6.755578764584786, 6.202248441533311, 5.687888784652027, 4.526895324643446, 4.974772008931813, 6.288163349425092, 10.205000803033002, 10.388602647295349, 9.69398250560847, 8.98267804680092, 9.049971761112602, 7.088169425600888, 5.965353124287183, 5.813715136304376, 4.928489109975219, 4.318634819129562, 3.9688580751293507]
STATE: IN
State Unemployment: [5.277700403891685, 5.968288955630891, 6.56465985929122, 5.385256430041762, 4.870874189098654, 4.595403894390618, 4.06682501123912, 3.5027081209018487, 3.096856492144032, 3.040964342768197, 3.1125035584172163, 4.24705077415487, 5.18293038645879, 5.288542799640841, 5.358086501400021, 5.474504132192731, 5.03851480006924, 4.5717932307070726, 5.886890152121054, 10.300954444341821, 10.380093430541072, 9.11537915195368, 8.33762112958693, 7.656835421837746, 5.9625078764965345, 4.837294643873877, 4.425388161108717, 3.5692007423126615, 3.4852670594977653, 3.3156096571648046]
STATE: KS
State Unemployment: [4.293504184979965, 4.416150179575784, 4.4806190534039, 4.967886928382074, 4.897561264924696, 4.414585483418077, 4.25135406573146, 3.7603322831876085, 3.5293727261880306, 3.2778387266028997, 3.585774350093062, 4.212988664114343, 5.054047130059885, 5.508862027932611, 5.455210012843986, 5.02295224241498, 4.38239299624156, 4.24762582711815, 4.604173015230552, 6.872530822319324, 7.0506144483824045, 6.50606498151366, 5.730129265565025, 5.297075978526623, 4.538698055446839, 4.177508707199115, 4.037658934290983, 3.6473346661075428, 3.2901717082043174, 3.1652360154148442]
STATE: KY
State Unemployment: [5.968159328758066, 7.289045866636108, 6.88188327461592, 6.216128239808042, 5.3887474332648875, 5.417612697844692, 5.467985053163931, 5.334992382979611, 4.591290832629679, 4.51853560598096, 4.170479987505704, 5.166391190480931, 5.683760024279461, 6.131052444956902, 5.400627226774711, 5.8925393405184465, 5.704601577241518, 5.407066581369027, 6.4044015395342795, 10.340743559636554, 10.208855894932931, 9.408959148968865, 8.157183914465344, 8.006213751696107, 6.4554651653091515, 5.29326174038691, 5.120463841990423, 4.898252819302131, 4.33404606861697, 4.294805019982177]
STATE: LA
State Unemployment: [6.198381803119914, 7.279253793784621, 8.03858822060224, 7.626232769676106, 7.846269522394497, 6.996460983788315, 6.610869364133953, 6.0023836770073125, 5.698995317010794, 5.08022386961733, 5.302595187813132, 5.742964086322195, 6.141052462463197, 6.4087795573061825, 5.92219165171548, 6.864891916631698, 4.300450443229726, 4.255091758526977, 4.914559636539102, 6.823306741263943, 7.968367555316512, 7.823437851958717, 7.073172255890184, 6.704031841296036, 6.372699864174266, 6.330483488243751, 6.069352715532036, 5.125024426726714, 4.870384581574202, 4.828018340638028]
STATE: MA
State Unemployment: [6.297157887875528, 8.62139388956165, 8.456385797295717, 6.984727642057438, 6.044334722972027, 5.287040311971463, 4.436515020023922, 3.918044659241409, 3.298391799386223, 3.1858822926068147, 2.700778454549713, 3.730914453038471, 5.275049204666639, 5.710324434646295, 5.144408265969904, 4.846989809170535, 4.893302423228399, 4.609016573837376, 5.533411828428838, 8.108027113971119, 8.312100602198282, 7.250865445866757, 6.674870974396879, 6.719252933033215, 5.741721594475832, 4.79760332966225, 3.869514426125643, 3.745154919262884, 3.360302967223283, 2.904566597955644]
STATE: MD
State Unemployment: [4.461139064174674, 6.104694713669857, 6.794339797703362, 6.180154187880509, 5.271091132906646, 5.025881446704805, 5.045165226351563, 4.966158147415168, 4.41262071822255, 3.5709598900119626, 3.58103837665015, 4.009987353721244, 4.441046790296987, 4.430506890346021, 4.251853718234829, 4.139274950710298, 3.863601166988937, 3.459320452026402, 4.229506208947627, 7.005407722491509, 7.656143862123891, 7.249290746359273, 6.966809407083938, 6.578192630749786, 5.811208334414007, 5.084762487418839, 4.452017478337631, 4.23449658364393, 3.943189807564863, 3.5789905626699805]
STATE: ME
State Unemployment: [5.297795639302516, 7.537769455183553, 7.313220464169394, 7.256821806882316, 6.983627548443347, 5.959066125399206, 5.193759022494564, 5.0573799072115815, 4.500111756474986, 3.9509663136480584, 3.362014938028564, 3.821165821127264, 4.338792181673316, 4.969950903228449, 4.637693413376173, 4.879759590902897, 4.5620542001402615, 4.664612731353255, 5.482005755079877, 8.087538276811003, 8.135112430665838, 7.893118636311634, 7.474403604701141, 6.647736857698964, 5.618856955749975, 4.388616089396922, 3.784018466392179, 3.3755237968263256, 3.2385579576816923, 3.0282820583887657]
STATE: MI
State Unemployment: [7.628732348755321, 9.204213447144886, 8.978085697936567, 7.2170800375837745, 5.9975993712024795, 5.269285562300936, 4.895651273619285, 4.266672963892073, 3.8934292740795637, 3.7092421422263198, 3.611579958247317, 5.182263000286721, 6.273404731134102, 7.175158581352985, 7.04784404979076, 6.772033276275437, 7.004063886798169, 7.027965587753483, 7.968715044749832, 13.65839034984858, 12.60519978895445, 10.390572807390127, 9.117681614980286, 8.804450172228677, 7.232442270570819, 5.430139329440949, 4.976034719947052, 4.614783293080333, 4.14274920086108, 4.080107395338964]
STATE: MN
State Unemployment: [4.783753961693452, 5.148227970532358, 5.109988206940445, 4.961210181919915, 4.0831015330309075, 3.7371313640494916, 3.9521830822903685, 3.257192338125737, 2.6941314994599495, 2.761958667131081, 3.1580324456070024, 3.7693798994522734, 4.494457462920656, 4.883374520640964, 4.680467109353817, 4.064136955144066, 4.00711396999625, 4.565444925299288, 5.427221334879498, 7.76871094680761, 7.40464488274822, 6.483346666499225, 5.607679958728876, 4.962955451902927, 4.171807702606152, 3.694710904719894, 3.8567460439047423, 3.3991023645844165, 2.9395935789180663, 3.2317349061521496]
STATE: MO
State Unemployment: [5.835089008827647, 6.57794650931384, 6.183936912120322, 6.226843805847292, 5.054665763420478, 4.715342605550547, 4.785110087784888, 4.348942785984691, 4.170552448453962, 3.2927604640171233, 3.58290078068939, 4.618629173989455, 5.379827612520718, 5.622248263716474, 5.861951532189899, 5.394398247591502, 4.8499899494899985, 5.105480754845313, 6.1415313301660355, 9.275387791614309, 9.584543597991686, 8.483745451216668, 6.942646652448868, 6.713994438804667, 6.1356774733279575, 5.031236922292527, 4.551959996520985, 3.7402427492034414, 3.15884251871533, 3.2940166843049417]
STATE: MS
State Unemployment: [7.596626987143429, 8.53704266747745, 8.060226795464091, 6.616609293257808, 6.275840364902188, 6.2225145529881285, 6.034216881952232, 5.703849837406614, 5.259194412282436, 5.114640230143264, 5.383906948187059, 5.535422033817104, 6.611922997083742, 6.309999907781122, 6.162259558634261, 7.482583197586773, 6.531672059991861, 6.0955766659327555, 6.564414783592866, 9.477587127903147, 10.387736796345958, 9.98388458863253, 8.989238556471754, 8.544448784152609, 7.505707169036188, 6.384541432515426, 5.794494135499489, 5.091917505535714, 4.842405341561464, 5.4247291984524955]
STATE: MT
State Unemployment: [5.961700649898298, 6.908353497173778, 6.725992286870913, 6.043634935394648, 5.240037290041108, 5.662523100251141, 5.3059135118292495, 5.336841012455795, 5.546010777514482, 5.249647913104524, 4.956580169399398, 4.539680904932328, 4.401660923353524, 4.713759724449195, 4.758494038869155, 4.3517082182931395, 3.4925580556742926, 3.560843863031597, 5.069899167651946, 6.847617165747543, 7.29807863280649, 6.947708636753585, 5.985855706089312, 5.424797957649417, 4.667502205979963, 4.175134258007186, 4.14774325790764, 3.938748756119512, 3.643263828877976, 3.483204405598469]
STATE: N/A
State Unemployment: [6.275917841203439, 7.7639819184713454, 8.59734069716858, 8.526353781470036, 7.972125256012264, 8.769848542912841, 8.426184328654246, 8.006889624536683, 8.424060129769579, 6.363615576338234, 5.598948687308556, 6.345587169701947, 6.404137223577992, 6.842850709152737, 7.801888939098219, 6.378637331440738, 5.788669431763176, 5.527298230805277, 6.459654387918098, 9.286446292809647, 9.40777021657781, 10.150864649436397, 9.042738274304158, 8.493127983620491, 7.764498592804974, 6.886900830375661, 6.107017095293668, 6.060779859408859, 5.691569134676915, 5.485048869548673]
STATE: NC
State Unemployment: [4.09988399295501, 5.779956020599092, 6.044849753492286, 5.022864273965596, 4.379366806896394, 4.302350947125146, 4.299541711342484, 3.7500370259362295, 3.4608190789778717, 3.2001129895319536, 3.6741542949550094, 5.51510441143089, 6.6467162742104415, 6.368873270381506, 5.48590627854512, 5.243734826070461, 4.744127574343039, 4.710023455166508, 6.103997293018669, 10.582199033518801, 10.853433346943328, 10.263930315023767, 9.281597891654116, 7.9870742145923295, 6.312281819350894, 5.706705799114279, 5.0737376817516475, 4.466813660901964, 3.979488755135984, 3.869052364134388]
STATE: ND
State Unemployment: [4.028472622841777, 4.357936412260721, 4.744721932073561, 4.281696749676635, 3.71070844306417, 3.218308389876081, 2.9138924216353708, 2.72316181597243, 2.888354167441568, 3.283127531277933, 2.967259437432131, 2.9246729234441924, 3.7218177548144666, 3.7222391458868245, 3.422731773470992, 3.385196935434878, 3.220514352743288, 3.12278752627738, 3.151270130045145, 4.126725798139257, 3.7772203823474215, 3.46956157030854, 3.0655818875056866, 2.9052334083378057, 2.665241593438215, 2.7973518144526617, 3.098612037093157, 2.6667480170835876, 2.5729527755133392, 2.3733777335097446]
STATE: NE
State Unemployment: [2.340783226649439, 2.663262804837948, 2.8579046594322413, 2.7557811710074374, 2.646657663969242, 2.648724788628437, 2.727619705879458, 2.4971671203615666, 2.5513585511652015, 2.7858335155429224, 2.815808911454773, 3.1306171517642, 3.6498270345836517, 3.9360304312791734, 3.8633387973071884, 3.8120168303867823, 3.111044677648805, 2.9911041318227283, 3.3339193304275963, 4.632665348244081, 4.634386953895712, 4.405910296970095, 3.9958975005689705, 3.7671572550748746, 3.284557800045705, 3.007854780890341, 3.0688329794265026, 2.9196084922207346, 2.924675964193384, 3.04837525597929]
STATE: NH
State Unemployment: [5.656427846880539, 7.29986537500468, 7.279438943410728, 6.136251008133083, 4.734098986578932, 3.9669324596438806, 3.8115102186646945, 3.320425615812108, 2.8101087135587406, 2.698819877248276, 2.657779780638315, 3.4358814137933997, 4.470315844033053, 4.309554062706266, 3.7747282821174446, 3.5578829322190577, 3.4268896057847207, 3.5137193469352352, 3.8612216543977085, 6.237991201833802, 5.841047438700292, 5.401316307710695, 5.495501938342754, 5.092508279541607, 4.273944664329399, 3.368503772284371, 2.852029274783766, 2.713324667443152, 2.566213661475855, 2.543509785016556]
STATE: NJ
State Unemployment: [5.048235007793203, 6.690012499317481, 8.366234758817068, 7.601702353798201, 6.817963433918065, 6.407491715527544, 6.148642366239492, 5.253383980265334, 4.589464869357042, 4.508654262577349, 3.69807039631057, 4.2576200304605365, 5.776599646315138, 5.830640959432088, 4.836322867893015, 4.478615896784301, 4.709866213213132, 4.277184925030393, 5.338452142589311, 9.055307751910387, 9.524596670451242, 9.349013739156453, 9.329682386834971, 8.23845892224721, 6.763879974326059, 5.786742120945983, 4.9750099468458435, 4.623002185790632, 4.099812296391217, 3.5563873444930447]
STATE: NM
State Unemployment: [6.5678797184614, 7.136927400649237, 7.182389699737425, 6.968246100629594, 6.480355693892334, 6.5752413365949485, 7.213325769331583, 6.321702925886373, 6.077813458588957, 5.567885851224885, 4.925055305483726, 4.93152281601492, 5.535626684535946, 5.851947427220148, 5.503138206318085, 5.109136870629161, 4.164323164148613, 3.7505259472671617, 4.460960245619607, 7.535476077043491, 8.11184418558939, 7.529383944838261, 7.132617800934258, 6.937539844637033, 6.675231122244188, 6.500225137783254, 6.592621772145413, 5.861345952956548, 4.893583686206966, 4.864210851608781]
STATE: NV

In [34]:
# Generate a relative ranking by unemployment for each state from 1990-2019
stateRanking = {}
for state in listStates:
    stateRanking[state] = []


for i in range(1990, 2020):
    stateDF = stateAggregation(i)
    sortedStates = stateDF.sort_values(by = 'Unemployment Rate (%)', ascending = True)
    for j in range(len(sortedStates)):
        stateName = sortedStates['State'].iloc[j]
        stateRanking[stateName].append(j + 1)

for state in stateRanking:
    print('STATE: ' + state + '\nAnnual Ranking: ' + str(stateRanking[state]))

# Question: Can the tables be used to analyze which states were most affected by the 2007-2009 recession?
# Might have to look at years before, during, and immediately after to get a fuller picture
'''
stateDF = stateAggregation(2007)
sortedStates = stateDF.sort_values(by = 'Unemployment Rate (%)', ascending = True)
sortedStates
'''

STATE: AK
Ranking: [48, 46, 48, 46, 47, 48, 50, 50, 49, 51, 51, 51, 49, 50, 50, 50, 50, 50, 46, 20, 16, 19, 21, 27, 43, 48, 51, 51, 51, 51]
STATE: AL
Ranking: [46, 40, 36, 42, 35, 39, 28, 30, 28, 38, 40, 38, 37, 35, 36, 20, 18, 17, 31, 46, 43, 40, 32, 29, 41, 43, 46, 30, 27, 12]
STATE: AR
Ranking: [47, 41, 27, 23, 22, 20, 29, 36, 40, 35, 36, 35, 25, 33, 37, 33, 42, 43, 28, 22, 21, 27, 28, 31, 26, 24, 14, 16, 24, 27]
STATE: AZ
Ranking: [22, 16, 34, 27, 33, 29, 37, 22, 25, 32, 29, 30, 39, 30, 24, 21, 21, 16, 36, 36, 38, 38, 35, 37, 42, 42, 39, 40, 45, 45]
STATE: CA
Ranking: [34, 44, 50, 50, 50, 49, 48, 47, 46, 44, 43, 44, 48, 45, 44, 38, 37, 44, 49, 47, 49, 50, 49, 48, 47, 44, 42, 39, 39, 39]
STATE: CO
Ranking: [19, 11, 12, 14, 7, 9, 11, 8, 15, 10, 7, 13, 27, 34, 33, 29, 22, 14, 17, 15, 28, 29, 31, 25, 15, 10, 7, 4, 13, 7]
STATE: CT
Ranking: [18, 26, 35, 30, 29, 32, 36, 31, 12, 7, 2, 3, 11, 20, 21, 24, 24, 26, 32, 23, 30, 31, 37, 39, 36, 36, 35, 38, 37, 32]
STATE: DE
Ranking: [13, 20, 10, 11, 12, 12, 24, 16, 17, 17, 25, 9, 6, 7, 9, 15, 12, 9, 20, 27, 23, 17, 23, 19, 20, 22, 21, 32, 25, 34]
STATE: FL
Ranking: [38, 42, 42, 36, 39, 33, 25, 25, 27, 22, 24, 29, 31, 17, 13, 7, 8, 19, 38, 42, 46, 43, 38, 30, 29, 31, 25, 24, 22, 15]
STATE: GA
Ranking: [28, 9, 26, 20, 19, 21, 17, 23, 23, 23, 17, 17, 18, 13, 17, 35, 30, 28, 37, 37, 42, 45, 45, 43, 44, 41, 40, 35, 30, 24]
STATE: HI
Ranking: [2, 2, 3, 6, 26, 37, 45, 45, 48, 46, 35, 23, 9, 4, 1, 1, 1, 2, 11, 14, 9, 13, 13, 8, 10, 6, 2, 1, 1, 5]
STATE: IA
Ranking: [9, 6, 4, 3, 3, 4, 5, 4, 3, 1, 4, 7, 4, 11, 12, 16, 14, 13, 9, 7, 5, 6, 5, 7, 8, 9, 9, 7, 5, 6]
STATE: ID
Ranking: [30, 21, 18, 19, 24, 30, 31, 34, 39, 40, 41, 37, 28, 23, 20, 10, 10, 7, 22, 30, 29, 28, 24, 15, 14, 11, 10, 9, 6, 11]
STATE: IL
Ranking: [39, 36, 39, 43, 30, 25, 30, 26, 30, 30, 38, 43, 45, 44, 43, 42, 26, 39, 39, 38, 41, 41, 41, 49, 45, 38, 45, 43, 40, 38]
STATE: IN
Ranking: [21, 17, 20, 16, 15, 16, 9, 9, 8, 9, 12, 19, 21, 18, 29, 39, 41, 31, 33, 39, 39, 34, 36, 35, 25, 21, 19, 14, 20, 21]
STATE: KS
Ranking: [6, 5, 5, 9, 16, 13, 12, 12, 14, 14, 20, 18, 19, 22, 32, 28, 25, 21, 14, 12, 10, 10, 11, 12, 12, 13, 16, 15, 16, 16]
STATE: KY
Ranking: [37, 38, 25, 25, 23, 31, 35, 40, 33, 34, 33, 39, 32, 37, 30, 43, 46, 45, 40, 41, 36, 37, 34, 42, 33, 28, 34, 42, 41, 43]
STATE: LA
Ranking: [40, 37, 40, 45, 48, 47, 46, 44, 44, 41, 47, 47, 40, 42, 40, 49, 23, 22, 19, 10, 17, 22, 20, 20, 32, 45, 47, 47, 47, 46]
STATE: MA
Ranking: [42, 49, 44, 33, 32, 28, 15, 15, 9, 12, 6, 11, 22, 29, 25, 23, 36, 33, 30, 26, 22, 16, 15, 22, 21, 20, 13, 19, 17, 10]
STATE: MD
Ranking: [10, 18, 24, 24, 21, 23, 23, 29, 29, 20, 18, 16, 13, 10, 10, 14, 15, 10, 10, 13, 14, 15, 18, 17, 23, 26, 20, 26, 29, 30]
STATE: ME
Ranking: [23, 43, 30, 39, 46, 38, 27, 32, 31, 24, 15, 15, 10, 15, 14, 25, 28, 34, 29, 25, 19, 23, 26, 18, 19, 15, 11, 12, 15, 13]
STATE: MI
Ranking: [50, 50, 49, 38, 31, 27, 19, 18, 19, 21, 21, 40, 42, 48, 48, 48, 51, 51, 51, 51, 50, 47, 44, 47, 46, 30, 30, 33, 36, 40]
STATE: MN
Ranking: [14, 8, 8, 8, 6, 6, 8, 6, 2, 5, 13, 12, 15, 14, 15, 11, 17, 30, 26, 21, 13, 9, 10, 9, 7, 8, 12, 13, 8, 17]
STATE: MO
Ranking: [35, 28, 16, 26, 18, 17, 18, 19, 20, 16, 19, 28, 24, 24, 39, 36, 34, 40, 35, 33, 33, 30, 17, 21, 28, 25, 22, 18, 14, 19]
STATE: MS
Ranking: [49, 47, 41, 28, 38, 41, 41, 43, 41, 42, 48, 46, 46, 39, 42, 51, 49, 49, 44, 35, 40, 42, 42, 46, 48, 46, 44, 46, 46, 49]
STATE: MT
Ranking: [36, 31, 22, 21, 20, 35, 32, 41, 42, 45, 44, 25, 12, 12, 16, 17, 11, 12, 21, 11, 12, 14, 12, 13, 13, 12, 18, 21, 23, 25]
STATE: N/A
Ranking: [41, 45, 45, 49, 49, 51, 51, 51, 51, 49, 50, 49, 44, 46, 51, 46, 47, 46, 42, 34, 31, 44, 43, 45, 50, 51, 49, 50, 50, 50]
STATE: NC
Ranking: [5, 13, 14, 10, 8, 11, 14, 11, 13, 13, 22, 45, 47, 40, 34, 34, 33, 37, 34, 44, 45, 46, 47, 41, 30, 35, 33, 31, 31, 35]
STATE: ND
Ranking: [4, 4, 6, 5, 4, 3, 2, 2, 6, 15, 10, 1, 3, 2, 2, 2, 7, 8, 3, 1, 1, 1, 1, 1, 1, 1, 5, 2, 4, 1]
STATE: NE
Ranking: [1, 1, 1, 1, 1, 1, 1, 1, 1, 6, 9, 4, 2, 3, 8, 9, 5, 5, 4, 2, 2, 2, 2, 2, 2, 2, 4, 5, 7, 14]
STATE: NH
Ranking: [32, 39, 29, 22, 11, 8, 7, 7, 5, 2, 5, 8, 14, 9, 5, 4, 9, 11, 7, 4, 4, 4, 9, 10, 9, 4, 1, 3, 3, 3]
STATE: NJ
Ranking: [17, 29, 43, 44, 43, 44, 43, 37, 32, 33, 23, 20, 34, 31, 18, 19, 31, 23, 24, 31, 32, 36, 48, 44, 39, 37, 29, 34, 34, 28]
STATE: NM
Ranking: [45, 34, 28, 32, 40, 46, 47, 46, 47, 48, 42, 33, 26, 32, 35, 31, 20, 15, 13, 17, 18, 18, 22, 26, 38, 47, 50, 49, 48, 47]
STATE: NV
Ranking: [12, 14, 21, 31, 34, 34, 22, 20, 21, 26, 34, 41, 29, 16, 11, 13, 19, 27, 47, 50, 51, 51, 51, 51, 51, 50, 43, 45, 42, 36]
STATE: NY
Ranking: [25, 35, 46, 48, 45, 43, 44, 48, 43, 43, 39, 32, 41, 41, 38, 27, 27, 29, 27, 28, 25, 26, 39, 36, 31, 27, 28, 36, 35, 37]
STATE: OH
Ranking: [31, 25, 32, 29, 28, 19, 21, 24, 26, 29, 30, 21, 33, 38, 46, 44, 45, 47, 41, 40, 37, 32, 25, 33, 22, 23, 32, 44, 44, 41]
STATE: OK
Ranking: [33, 22, 13, 18, 27, 15, 10, 17, 22, 18, 11, 10, 16, 21, 19, 18, 16, 20, 6, 6, 8, 8, 6, 11, 11, 16, 26, 25, 18, 20]
STATE: OR
Ranking: [29, 24, 33, 35, 25, 22, 39, 42, 45, 47, 45, 50, 51, 51, 49, 45, 44, 41, 43, 49, 44, 39, 40, 40, 40, 32, 27, 22, 33, 33]
STATE: PA
Ranking: [27, 33, 37, 34, 37, 36, 34, 33, 35, 31, 32, 31, 30, 27, 31, 26, 29, 25, 23, 24, 24, 24, 29, 32, 24, 29, 41, 41, 38, 44]
STATE: PR
Ranking: [52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52, 52]
STATE: RI
Ranking: [44, 48, 47, 47, 44, 42, 33, 35, 34, 27, 31, 27, 17, 19, 26, 30, 38, 42, 50, 45, 48, 49, 50, 50, 49, 40, 36, 29, 32, 29]
STATE: SC
Ranking: [15, 19, 23, 40, 36, 26, 40, 21, 18, 28, 26, 42, 36, 47, 47, 47, 48, 48, 48, 48, 47, 48, 46, 34, 34, 39, 31, 27, 19, 9]
STATE: SD
Ranking: [3, 3, 2, 2, 2, 2, 3, 3, 4, 3, 3, 2, 1, 1, 4, 8, 4, 4, 2, 3, 3, 3, 3, 3, 3, 3, 3, 8, 12, 18]
STATE: TN
Ranking: [26, 30, 19, 17, 13, 24, 26, 38, 24, 25, 27, 26, 20, 25, 28, 41, 43, 35, 45, 43, 34, 33, 30, 38, 35, 33, 24, 20, 21, 23]
STATE: TX
Ranking: [43, 32, 38, 37, 41, 40, 38, 39, 38, 37, 37, 34, 43, 43, 41, 37, 35, 24, 16, 18, 20, 20, 16, 16, 16, 17, 23, 28, 26, 26]
STATE: UT
Ranking: [8, 7, 7, 4, 5, 5, 4, 5, 16, 19, 14, 22, 35, 26, 22, 12, 2, 1, 5, 16, 15, 12, 8, 5, 4, 7, 8, 10, 11, 4]
STATE: VA
Ranking: [11, 15, 17, 13, 14, 14, 16, 13, 7, 4, 1, 5, 8, 5, 7, 5, 3, 6, 8, 9, 11, 11, 14, 14, 17, 18, 17, 17, 10, 8]
STATE: VT
Ranking: [16, 27, 15, 12, 10, 10, 13, 14, 11, 8, 8, 6, 5, 8, 3, 3, 13, 18, 15, 8, 6, 5, 4, 4, 5, 5, 6, 6, 2, 2]
STATE: WA
Ranking: [20, 23, 31, 41, 42, 45, 42, 28, 37, 39, 46, 48, 50, 49, 45, 40, 40, 36, 25, 32, 35, 35, 33, 28, 27, 34, 37, 37, 43, 42]
STATE: WI
Ranking: [7, 12, 9, 7, 9, 7, 6, 10, 10, 11, 16, 24, 23, 28, 23, 22, 32, 38, 18, 29, 27, 21, 19, 23, 18, 19, 15, 11, 9, 22]
STATE: WV
Ranking: [51, 51, 51, 51, 51, 50, 49, 49, 50, 50, 49, 36, 38, 36, 27, 32, 39, 32, 12, 19, 26, 25, 27, 24, 37, 49, 48, 48, 49, 48]
STATE: WY
Ranking: [24, 10, 11, 15, 17, 18, 20, 27, 36, 36, 28, 14, 7, 6, 6, 6, 6, 3, 1, 5, 7, 7, 7, 6, 6, 14, 38, 23, 28, 31]

"\nstateDF = stateAggregation(2007)\nsortedStates = stateDF.sort_values(by = 'Unemployment Rate (%)', ascending = True)\nsortedStates\n"

In [38]:
# Generating Average Rankings/Unemployment

stateAverages = {}
for state in listStates:
    stateAverages[state] = []
for state in stateRanking:
    stateAverages[state].append(sum(stateRanking[state])/len(stateRanking[state]))
for state in stateUnemployment:
    stateAverages[state].append(sum(stateUnemployment[state])/len(stateUnemployment[state]))
for state in stateAverages:
    print('STATE: ' + state + ', Average Unemployment: ' + str(stateAverages[state][1]) + ', Average'
         + ' Relative Ranking: ' + str(stateAverages[state][0]))

STATE: AK, Average Unemployment: 7.123237506804734, Average Relative Ranking: 44.266666666666666
STATE: AL, Average Unemployment: 6.079734850980567, Average Relative Ranking: 34.1
STATE: AR, Average Unemployment: 5.6865560181851835, Average Relative Ranking: 29.733333333333334
STATE: AZ, Average Unemployment: 5.948369303992974, Average Relative Ranking: 32.0
STATE: CA, Average Unemployment: 7.1082161141506335, Average Relative Ranking: 44.9
STATE: CO, Average Unemployment: 4.861672137438731, Average Relative Ranking: 16.533333333333335
STATE: CT, Average Unemployment: 5.514410531473784, Average Relative Ranking: 26.433333333333334
STATE: DE, Average Unemployment: 4.920467948885475, Average Relative Ranking: 17.566666666666666
STATE: FL, Average Unemployment: 5.825426320900964, Average Relative Ranking: 28.666666666666668
STATE: GA, Average Unemployment: 5.756423356736866, Average Relative Ranking: 28.233333333333334
STATE: HI, Average Unemployment: 4.436995841741369, Average Relative Ranking: 14.3
STATE: IA, Average Unemployment: 3.9714327242632472, Average Relative Ranking: 6.866666666666666
STATE: ID, Average Unemployment: 5.267809768745485, Average Relative Ranking: 22.366666666666667
STATE: IL, Average Unemployment: 6.318482911449351, Average Relative Ranking: 38.2
STATE: IN, Average Unemployment: 5.397216858442516, Average Relative Ranking: 22.866666666666667
STATE: KS, Average Unemployment: 4.622541824847144, Average Relative Ranking: 14.933333333333334
STATE: KY, Average Unemployment: 6.118451718454349, Average Relative Ranking: 35.9
STATE: LA, Average Unemployment: 6.240617189476572, Average Relative Ranking: 37.13333333333333
STATE: MA, Average Unemployment: 5.348601679156671, Average Relative Ranking: 23.166666666666668
STATE: MD, Average Unemployment: 5.026628328527376, Average Relative Ranking: 18.933333333333334
STATE: ME, Average Unemployment: 5.381344423491466, Average Relative Ranking: 23.8
STATE: MI, Average Unemployment: 6.805852372592379, Average Relative Ranking: 39.2
STATE: MN, Average Unemployment: 4.435318027867994, Average Relative Ranking: 11.7
STATE: MO, Average Unemployment: 5.488681410432031, Average Relative Ranking: 25.066666666666666
STATE: MS, Average Unemployment: 6.817507027057731, Average Relative Ranking: 43.63333333333333
STATE: MT, Average Unemployment: 5.146183161724185, Average Relative Ranking: 22.3
STATE: N/A, Average Unemployment: 7.355025053538707, Average Relative Ranking: 46.666666666666664
STATE: NC, Average Unemployment: 5.706957838702173, Average Relative Ranking: 28.533333333333335
STATE: ND, Average Unemployment: 3.310249249446633, Average Relative Ranking: 3.6
STATE: NE, Average Unemployment: 3.2269574377219494, Average Relative Ranking: 3.6
STATE: NH, Average Unemployment: 4.2369247653007704, Average Relative Ranking: 9.6
STATE: NJ, Average Unemployment: 5.997901722167743, Average Relative Ranking: 32.666666666666664
STATE: NM, Average Unemployment: 6.0986028332740565, Average Relative Ranking: 34.666666666666664
STATE: NV, Average Unemployment: 6.316723064782204, Average Relative Ranking: 33.1
STATE: NY, Average Unemployment: 6.126048844235956, Average Relative Ranking: 35.63333333333333
STATE: OH, Average Unemployment: 5.939031024452199, Average Relative Ranking: 32.733333333333334
STATE: OK, Average Unemployment: 4.74142612054244, Average Relative Ranking: 16.233333333333334
STATE: OR, Average Unemployment: 6.471500039655317, Average Relative Ranking: 38.63333333333333
STATE: PA, Average Unemployment: 5.777036321055343, Average Relative Ranking: 31.366666666666667
STATE: PR, Average Unemployment: 12.917865124904118, Average Relative Ranking: 52.0
STATE: RI, Average Unemployment: 6.4966322959357505, Average Relative Ranking: 37.93333333333333
STATE: SC, Average Unemployment: 6.227003586819269, Average Relative Ranking: 34.56666666666667
STATE: SD, Average Unemployment: 3.415083333668653, Average Relative Ranking: 3.933333333333333
STATE: TN, Average Unemployment: 5.733791851131878, Average Relative Ranking: 28.866666666666667
STATE: TX, Average Unemployment: 5.700801522517739, Average Relative Ranking: 30.633333333333333
STATE: UT, Average Unemployment: 4.26994171448093, Average Relative Ranking: 10.633333333333333
STATE: VA, Average Unemployment: 4.400824420126278, Average Relative Ranking: 10.6
STATE: VT, Average Unemployment: 4.2091065444247, Average Relative Ranking: 8.933333333333334
STATE: WA, Average Unemployment: 6.236150205709082, Average Relative Ranking: 37.0
STATE: WI, Average Unemployment: 4.914384350545292, Average Relative Ranking: 17.5
STATE: WV, Average Unemployment: 6.848406407818623, Average Relative Ranking: 40.13333333333333
STATE: WY, Average Unemployment: 4.560057662137835, Average Relative Ranking: 15.433333333333334