In [54]:
# Includes the necessary imports
import pandas as pd
import seaborn as sns
import numpy as np

In [122]:
# Try reading in the data

# Helpful function to read in the data
def readDataByYear(year):
    yearPath = '/Users/zacharyzhu/Desktop/Employment Data/' + str(year) + ' Employment By County.xlsx'
    df = pd.read_excel(yearPath)
    df = df.rename(columns = {"Labor Force Data by County, " + str(year) +  " Annual Averages":"LAUS Code", 
                        "Unnamed: 1": "State FIPS Code", "Unnamed: 2": "County FIPS Code", "Unnamed: 3":
                        "County", "Unnamed: 4": "Year", "Unnamed: 6": "Labor Force",
                        "Unnamed: 7": "Employed", "Unnamed: 8": "Unemployed", "Unnamed: 9": "Unemployment Rate (%)"})
    # Drop blank columns/nonsense rows
    df = df.drop(columns = {'Unnamed: 5'})
    numRows = len(df)
    df = df.drop([0, 1, 2, 3, 4, numRows - 3, numRows - 2, numRows - 1]) # First 5 and last 3 rows are nonsense
    # Split up State/County
    df['State'] = df['County'].str[-2:]
    df['County'] = df['County'].str[:-4]
    # Converting data types into integers
    df['State FIPS Code'] = df['State FIPS Code'].astype(int)
    df['County FIPS Code'] = df['County FIPS Code'].astype(int)
    df['Year'] = df['Year'].astype(int)
    df['Labor Force'] = df['Labor Force'].astype(int)
    df['Employed'] = df['Employed'].astype(int)
    df['Unemployed'] = df['Unemployed'].astype(int)
    df['Unemployment Rate (%)'].astype(int)
    # Accounting for DC
    #df = df['County'].replace({'District of Colu': 'District of Columbia'})
    #df = df['State'].replace({'ia': 'N/A'})

    # Putting data in desired order
    df = df[['LAUS Code', 'State FIPS Code', 'County FIPS Code', 'County', 'State', 'Year', 'Labor Force',
            'Employed', 'Unemployed', 'Unemployment Rate (%)']]
    df['County'].replace({'District of Colu': 'District of Columbia'}, inplace = True)
    df['State'].replace({'ia': 'N/A'}, inplace = True)
    return df

In [104]:
# Different functions to parse the data

# Let's say we just wanted to keep California counties
df = readDataByYear(2019)
CACounties = df.loc[df['State'] == 'CA']
#print(CACounties)

# Get a specific row's values
print(df.iloc[0])

# Get a specific column's row's value
print(df['County'].iloc[0])

# Let's say we wanted all counties where the County FIPS Code was divisble by 7 or 9
divBySevNine = df.loc[(df['County FIPS Code'] % 7 == 0) | (df['County FIPS Code'] % 9 == 0)]
#print(divBySevNine)

LAUS Code                CN0100100000000
State FIPS Code                        1
County FIPS Code                       1
County                    Autauga County
State                                 AL
Year                                2019
Labor Force                        26172
Employed                           25458
Unemployed                           714
Unemployment Rate (%)                2.7
Name: 5, dtype: object
Autauga County

In [105]:
# Built-in functions

# Getting mean values of grouping by state
df.count() # Number of non-NaN values in each column
df.sum() # Sum of each column
df.mean() # Mean value of each column
df.describe() # Summary of stats for each column--count, mean, STD, min, median, max

,State FIPS Code,County FIPS Code,Year,Labor Force,Employed,Unemployed
count,3219.000000,3219.000000,3219.0,3.219000e+03,3.219000e+03,3219.000000
mean,31.295744,102.952470,2019.0,5.100236e+04,4.911543e+04,1886.927307
std,16.277202,106.696455,0.0,1.676907e+05,1.613724e+05,6471.804399
min,1.000000,1.000000,2019.0,2.230000e+02,2.120000e+02,4.000000
25%,19.000000,35.000000,2019.0,4.939500e+03,4.698000e+03,200.000000
50%,30.000000,79.000000,2019.0,1.144200e+04,1.099900e+04,479.000000
75%,46.000000,133.000000,2019.0,3.129050e+04,3.002700e+04,1231.000000
max,72.000000,840.000000,2019.0,5.121584e+06,4.894296e+06,227288.000000

In [106]:
stateGrouping = df.groupby(['State']) # Creating a grouping by state
stateGrouping.get_group('WI') # Gives us a sub-table based off of the grouping for WI (the state)
stateGrouping.size() # How many counties exist for each state? N/A represents Washington DC
stateGrouping.mean()

,State FIPS Code,County FIPS Code,Year,Labor Force,Employed,Unemployed
State,,,,,,
AK,2.0,149.655172,2019.0,11992.344828,11256.137931,736.206897
AL,1.0,67.000000,2019.0,33458.985075,32455.029851,1003.955224
AR,5.0,75.000000,2019.0,18168.653333,17523.906667,644.746667
AZ,4.0,13.866667,2019.0,236750.600000,225633.600000,11117.000000
CA,6.0,58.000000,2019.0,334682.379310,321161.706897,13520.672414
CO,8.0,62.234375,2019.0,49199.468750,47845.281250,1354.187500
CT,9.0,8.000000,2019.0,239191.375000,230270.875000,8920.500000
DE,10.0,3.000000,2019.0,162421.666667,156281.666667,6140.000000
FL,12.0,67.910448,2019.0,154280.029851,149493.567164,4786.462687
GA,13.0,161.490566,2019.0,32140.427673,31039.729560,1100.698113
HI,15.0,5.000000,2019.0,166248.000000,161743.250000,4504.750000
IA,19.0,99.000000,2019.0,17563.969697,17081.040404,482.929293
ID,16.0,44.000000,2019.0,20043.113636,19460.181818,582.931818
IL,17.0,102.000000,2019.0,63202.107843,60693.705882,2508.401961
IN,18.0,92.000000,2019.0,36819.250000,35598.467391,1220.782609
KS,20.0,105.000000,2019.0,14158.276190,13710.133333,448.142857
KY,21.0,120.000000,2019.0,17271.641667,16529.858333,741.783333
LA,22.0,64.000000,2019.0,32741.500000,31160.734375,1580.765625
MA,25.0,14.000000,2019.0,272674.071429,264754.071429,7920.000000
MD,24.0,44.958333,2019.0,135861.166667,130998.708333,4862.458333
ME,23.0,16.000000,2019.0,43296.000000,41984.875000,1311.125000
MI,26.0,83.000000,2019.0,59485.204819,57058.144578,2427.060241
MN,27.0,87.000000,2019.0,35743.229885,34588.103448,1155.126437
MO,29.0,117.713043,2019.0,26810.930435,25927.773913,883.156522
MS,28.0,82.000000,2019.0,15562.426829,14718.207317,844.219512
MT,30.0,56.000000,2019.0,9526.839286,9195.000000,331.839286
N/A,11.0,1.000000,2019.0,409969.000000,387482.000000,22487.000000
NC,37.0,100.000000,2019.0,50804.430000,48838.780000,1965.650000
ND,38.0,53.000000,2019.0,7615.132075,7434.396226,180.735849
NE,31.0,93.000000,2019.0,11131.612903,10792.279570,339.333333
NH,33.0,10.000000,2019.0,77373.400000,75405.400000,1968.000000
NJ,34.0,21.000000,2019.0,213958.428571,206349.238095,7609.190476
NM,35.0,30.151515,2019.0,28927.424242,27520.333333,1407.090909
NV,32.0,45.529412,2019.0,90732.647059,87204.529412,3528.117647
NY,36.0,62.000000,2019.0,153457.838710,147379.903226,6077.935484
OH,39.0,88.000000,2019.0,65935.477273,63222.431818,2713.045455
OK,40.0,77.000000,2019.0,23911.766234,23124.038961,787.727273
OR,41.0,36.000000,2019.0,58446.472222,56258.361111,2188.111111
PA,42.0,67.000000,2019.0,96890.268657,92651.194030,4239.074627
PR,72.0,76.705128,2019.0,13801.756410,12658.025641,1143.730769
RI,44.0,5.000000,2019.0,111110.800000,107153.600000,3957.200000
SC,45.0,46.000000,2019.0,51653.739130,50181.847826,1471.891304
SD,46.0,67.954545,2019.0,7030.348485,6798.772727,231.575758
TN,47.0,95.000000,2019.0,35209.031579,34015.821053,1193.210526
TX,48.0,254.000000,2019.0,55296.590551,53353.566929,1943.023622
UT,49.0,29.000000,2019.0,55437.724138,53992.551724,1445.172414
VA,51.0,263.992481,2019.0,33174.872180,32249.165414,925.706767
VT,50.0,14.000000,2019.0,24444.785714,23862.142857,582.642857
WA,53.0,39.000000,2019.0,100363.025641,96095.205128,4267.820513
WI,55.0,71.097222,2019.0,43127.152778,41683.611111,1443.541667
WV,54.0,55.000000,2019.0,14490.381818,13779.145455,711.236364
WY,56.0,23.000000,2019.0,12706.956522,12249.217391,457.739130

In [123]:
# Method to generate State aggregated results for a given year

def stateAggregation(year):
    df = readDataByYear(year)
    stateGrouping = df.groupby(['State']) # Creating a grouping by state
    sleuTable = stateGrouping.sum() # Gives STATE, LABOR FORCE, EMPLOYED, UNEMPLOYED
    SFCYearTable = stateGrouping.mean() # Gives state, state FIPS code, and year
    employed = list(sleuTable['Employed']) # Creating total # employed per state column
    unemployed = list(sleuTable['Unemployed']) # Creating total # unemployed per state column
    laborForce = list(sleuTable['Labor Force']) # Creating total # for labor force per state column
    stateFIPSCode = list(SFCYearTable['State FIPS Code']) # State FIPS Code column
    yearColumn = list(SFCYearTable['Year']) # Year--2019
    stateNames = list(stateGrouping.groups.keys()) # Get a list of all state names by using groupby KEYS

    # Get the total unemployment/employment rate
    unemploymentRate = []
    for i in range(len(employed)):
        unemploymentRate.append(unemployed[i]/laborForce[i] * 100)

    # Creating a new table with STATE, FIPS CODE, YEAR, EMPLOYED/UNEMPLOYED/UNEMPLOYMENT RATE

    # One way to create a dataframe

    # df['COL NAME'] = 0 --> Adds/replaces a column in the table with a default value of 0
    stateAggregates = {'State': stateNames, 'State FIPS Code': stateFIPSCode, 'Year': yearColumn,
                       'Total Employed': employed, 'Total Unemployed': unemployed, 
                       'Total Labor Force': laborForce, 'Unemployment Rate (%)': unemploymentRate}
    stateDF = pd.DataFrame(stateAggregates)
    stateDF['Year'] = stateDF['Year'].astype(int) # Making more readable form
    stateDF['State FIPS Code'] = stateDF['State FIPS Code'].astype(int) # Again, State FIPS code was an integer
    return stateDF

stateDF = stateAggregation(2006)

In [125]:
# Check to make sure no issues arise for any year
def everyYearAggregates():
    for i in range(1990, 2020):
        stateDF = stateAggregation(i)
        sortedStates = stateDF.sort_values(by = 'Unemployment Rate (%)', ascending = True)

#everyYearAggregates()

1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019

In [126]:
# Tasks to work around with going forward
#everyYearAggregates()

'''
1. What is the general trend for each state/the country as a whole in terms of employment/unemployment?
    - Give good economic explanations for each year
2. Which states have been performing better? Which worse?
    - Again, is there a general trend there? Rural vs. urban, manufacturing vs. service, etc.
3. How does the size of the labor force in a county relate to the unemployment rate, if at all?
'''

'\n1. What is the general trend for each state/the country as a whole in terms of employment/unemployment?\n    - Give good economic explanations for each year\n2. Which states have been performing better? Which worse?\n    - Again, is there a general trend there? Rural vs. urban, manufacturing vs. service, etc.\n3. How does the size of the labor force in a county relate to the unemployment rate, if at all?\n'

In [ ]:
'''
IMPORTANT NOTE

I manually deleted some of the "data" from 2005/2006 because select LA counties had no data at all.
To reference the original data (which includes the counties that had no data for those select years,
please reference 2005 Employment By County-ORIGINAL.xlsx & 2006 Employment By County-ORIGINAL.xlsx)

'''